*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    font-size: 3rem;
}

body{
    background-image: linear-gradient(120deg, #E2C35D, #D88771);
    color: white;
    min-height: 100vh;
}

h1,
form,
.todolistcontainer
.todocontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
}

input,
button{
    border: none;
    outline: none;
    font-size: 1.5rem;
}
.inputbox,
.addbutton{
    padding: 0.5rem;
}

.todocontainer{
    background-color: white;
    margin: 1rem 0rem;
    min-height: fit-content;
    width: 100%;
}

.todoitem{
    list-style: none;
    flex-grow: 1;
    color: black;
    font-size: 1.5rem;
    padding: 0rem 1rem;
}

.deletebtn,
.completebtn{
    cursor: pointer;
}

.fa-circle-check,
.fa-trash-can{
    padding: 0.5rem;
    pointer-events: none;
    color: white;
}

.deletebtn{
    background-color: red;
}

.completebtn{
    background-color: green;
}

.completed{
    opacity: 0.5;
    text-decoration: line-through;
}